[Desktop Entry]
Name=CPU-X (Root)
Encoding=UTF-8
Comment=Gathers information on CPU & motherboard
Comment[fr]=Récolte des informations sur le CPU et la carte-mère
Exec=cpu-x_polkit
TryExec=/usr/bin/cpu-x
Icon=cpu-x.png
Type=Application
Categories=GTK;System;
Terminal=false
