name: Linux build

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  linux-build:
    name: Linux x64_64 (Build)
    runs-on: ${{ matrix.os.label }}
    strategy:
      matrix:
        os: # https://github.com/actions/virtual-environments/tree/main/images/linux
          - { label: ubuntu-20.04 }
          - { label: ubuntu-22.04 }

    steps:
    - uses: actions/checkout@v3

    - name: Build libcpuid
      run: bash -x ./scripts/build_libcpuid.sh "Debug"

    - name: Build CPU-X
      run: bash ./scripts/build_ubuntu.sh "Debug" "$GITHUB_WORKSPACE"

    - name: Run tests
      run: ninja -C build test

    - name: Run CPU-X
      run: |
        sudo CPUX_BCLK=100 cpu-x --issue-fmt
        cat /tmp/cpu-x.log
        cat /tmp/cpu-x-daemon.log

    - name: Test CPU database with LibCPUID tests
      run: |
        bash ./scripts/run_libcpuid_tests.sh "/tmp/libcpuid/tests"
